@import "tailwindcss";

html, body {
  background-color: #f9fafb; /* Matches Gray-50 */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif; /* Prevents Times New Roman if Tailwind takes a second to load */
}

/* Fixes iPhone zoom issues on inputs */
input, textarea {
  font-size: 16px !important;
}