@import "tailwindcss";

html,
body {
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* Fixes iPhone zoom issues on inputs */
input,
textarea {
    font-size: 16px !important;
}